ion-card {
    margin: 70px auto; 
    max-width: 800px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px; 

ion-card-header {
    ion-card-title {font-size: 2.0rem;}
}

ion-button {
    margin-top: 20px; /* Agregar espacio arriba del botón */
    --background: #007bff; /* Cambiar el color de fondo del botón */
    --color: #fff; /* Cambiar el color del texto del botón */
}

}