<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-card>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registro</ion-button>
        <span class="already">Ya eres usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
